@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  @font-face {
    font-family: "Dana";
    src: url("../src/assets/fonts/Dana-Regular.ttf") format('truetype');
  }
  @font-face {
    font-family: "Dana DemiBold";
    src: url("./assets/fonts/Dana-Bold.ttf") format('truetype');
  }
  @font-face {
    font-family: 'Yekan';
    src: url("../src/assets/fonts/Yekan.ttf") format('truetype');
  }
}

